<main>
  <h1>Browser</h1>

  <form action="/" method="GET">
    <input type="text" class="search" name="search" placeholder="Search..." value="{{search}}">
    <input type="number" name="from" class="difficulty" placeholder="Difficulty from..." value="{{difficultyFrom}}" min="1" max="6">
    <span>-</span>
    <input type="number" name="to" class="difficulty" placeholder="Difficulty to..." value="{{difficultyTo}}" min="1" max="6">
    <input type="submit" value="search">
  </form>
  {{#if cubes}}
  <h2>Search result:</h2>
  {{#each cubes}}
  {{>cube}}
  {{/each}}
  {{else}}
  <div class="no-found">
    <h2>Search result:</h2>
    <h1>No cubs found!</h1>
    <a class="no-found" href="/">Back</a>
  </div>
  {{/if}}
</main>